*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}

body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg,#4f46e5,#9333ea);
        color: white;
}
.btn{
    
        padding: 12px 25px;
        font-size: 1rem;
        border: none;
        border-radius: 99px;
        cursor: pointer;
        background: white;
        color: #4f46e5;
        font-weight: bold;
        transition: 0.2s;
    
}
.typeBox{
    padding: 9px;
    border: none;
    border-radius: 7px;
}
.container{
    padding: 30px;
}